# ── Python ────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# ── Environnements virtuels ───────────────────────────────────
venv/
.venv/
env/
ENV/

# ── Django ────────────────────────────────────────────────────
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# ── Variables d'environnement — JAMAIS commiter ───────────────
.env
.env.local
.env.prod
.env.production
.env.docker          # ← ajouter
*.pem
*.key
*.p12

# ── Docker ────────────────────────────────────────────────────
.dockerignore

# ── Kubernetes secrets locaux ─────────────────────────────────
k8s/secrets/
*-secret-local.yaml
# ⚠️  Les secrets.yaml dans k8s/ ne doivent PAS être commités
infrastructure/k8s/**/secret.yaml   # ← ajouter

# ── IDE ───────────────────────────────────────────────────────
.vscode/
.idea/
*.swp
*.swo

# ── OS ────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ── Git ───────────────────────────────────────────────────────
*.orig
*.rej

# ── Rapports Trivy ───────────────────────────────────────────
trivy-report.json
trivy-results.sarif

# ── Node ──────────────────────────────────────────────────────
node_modules/

# ── GitHub Actions runner ─────────────────────────────────────
actions-runner/      # ← ajouter — ne pas commiter le runner

# ── pytest ────────────────────────────────────────────────────
.pytest_cache/       # ← ajouter
.coverage
htmlcov/
coverage.xml